@font-face {
    font-family: 'Thunder-BlackHC';
    src: url('./assets/fonts/thunder/Thunder-BlackHC.ttf') format('truetype');
}

@font-face {
    font-family: 'Thunder-BlackHCItalic';
    src: url('./assets/fonts/thunder/Thunder-BlackHCItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Thunder-BlackLC';
    src: url('./assets/fonts/thunder/Thunder-BlackLC.ttf') format('truetype');
}

@font-face {
    font-family: 'Thunder-BlackLCItalic';
    src: url('./assets/fonts/thunder/Thunder-BlackLCItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Thunder-BoldHC';
    src: url('./assets/fonts/thunder/Thunder-BoldHC.ttf') format('truetype');
}

@font-face {
    font-family: 'Thunder-BoldHCItalic';
    src: url('./assets/fonts/thunder/Thunder-BoldHCItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Thunder-BoldLC';
    src: url('./assets/fonts/thunder/Thunder-BoldLC.ttf') format('truetype');
}

@font-face {
    font-family: 'Thunder-BoldLCItalic';
    src: url('./assets/fonts/thunder/Thunder-BoldLCItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Thunder-ExtraBoldHC';
    src: url('./assets/fonts/thunder/Thunder-ExtraBoldHC.ttf') format('truetype');
}

@font-face {
    font-family: 'Thunder-ExtraBoldHCItalic';
    src: url('./assets/fonts/thunder/Thunder-ExtraBoldHCItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Thunder-ExtraBoldLC';
    src: url('./assets/fonts/thunder/Thunder-ExtraBoldLC.ttf') format('truetype');
}

@font-face {
    font-family: 'Thunder-ExtraBoldLCItalic';
    src: url('./assets/fonts/thunder/Thunder-ExtraBoldLCItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Thunder-ExtraLightHC';
    src: url('./assets/fonts/thunder/Thunder-ExtraLightHC.ttf') format('truetype');
}

@font-face {
    font-family: 'Thunder-ExtraLightHCItalic';
    src: url('./assets/fonts/thunder/Thunder-ExtraLightHCItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Thunder-ExtraLightLC';
    src: url('./assets/fonts/thunder/Thunder-ExtraLightLC.ttf') format('truetype');
}

@font-face {
    font-family: 'Thunder-ExtraLightLCItalic';
    src: url('./assets/fonts/thunder/Thunder-ExtraLightLCItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Thunder-HC';
    src: url('./assets/fonts/thunder/Thunder-HC.ttf') format('truetype');
}

@font-face {
    font-family: 'Thunder-HCItalic';
    src: url('./assets/fonts/thunder/Thunder-HCItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Thunder-LC';
    src: url('./assets/fonts/thunder/Thunder-LC.ttf') format('truetype');
}

@font-face {
    font-family: 'Thunder-LCItalic';
    src: url('./assets/fonts/thunder/Thunder-LCItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Thunder-LightHC';
    src: url('./assets/fonts/thunder/Thunder-LightHC.ttf') format('truetype');
}

@font-face {
    font-family: 'Thunder-LightHCItalic';
    src: url('./assets/fonts/thunder/Thunder-LightHCItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Thunder-LightLC';
    src: url('./assets/fonts/thunder/Thunder-LightLC.ttf') format('truetype');
}

@font-face {
    font-family: 'Thunder-LightLCItalic';
    src: url('./assets/fonts/thunder/Thunder-LightLCItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Thunder-MediumHC';
    src: url('./assets/fonts/thunder/Thunder-MediumHC.ttf') format('truetype');
}

@font-face {
    font-family: 'Thunder-MediumHCItalic';
    src: url('./assets/fonts/thunder/Thunder-MediumHCItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Thunder-MediumLC';
    src: url('./assets/fonts/thunder/Thunder-MediumLC.ttf') format('truetype');
}

@font-face {
    font-family: 'Thunder-MediumLCItalic';
    src: url('./assets/fonts/thunder/Thunder-MediumLCItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Thunder-SemiBoldHC';
    src: url('./assets/fonts/thunder/Thunder-SemiBoldHC.ttf') format('truetype');
}

@font-face {
    font-family: 'Thunder-SemiBoldHCItalic';
    src: url('./assets/fonts/thunder/Thunder-SemiBoldHCItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Thunder-SemiBoldLC';
    src: url('./assets/fonts/thunder/Thunder-SemiBoldLC.ttf') format('truetype');
}

@font-face {
    font-family: 'Thunder-SemiBoldLCItalic';
    src: url('./assets/fonts/thunder/Thunder-SemiBoldLCItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Thunder-ThinHC';
    src: url('./assets/fonts/thunder/Thunder-ThinHC.ttf') format('truetype');
}

@font-face {
    font-family: 'Thunder-ThinHCItalic';
    src: url('./assets/fonts/thunder/Thunder-ThinHCItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Thunder-ThinLC';
    src: url('./assets/fonts/thunder/Thunder-ThinLC.ttf') format('truetype');
}

@font-face {
    font-family: 'Thunder-ThinLCItalic';
    src: url('./assets/fonts/thunder/Thunder-ThinLCItalic.ttf') format('truetype');
}

/* Black Variants */
.font-thunder-black-hc {
    font-family: 'Thunder-BlackHC';
  }
  .font-thunder-black-hc-italic {
    font-family: 'Thunder-BlackHCItalic';
  }
  .font-thunder-black-lc {
    font-family: 'Thunder-BlackLC';
  }
  .font-thunder-black-lc-italic {
    font-family: 'Thunder-BlackLCItalic';
  }
  
  /* Bold Variants */
  .font-thunder-bold-hc {
    font-family: 'Thunder-BoldHC';
  }
  .font-thunder-bold-hc-italic {
    font-family: 'Thunder-BoldHCItalic';
  }
  .font-thunder-bold-lc {
    font-family: 'Thunder-BoldLC';
  }
  .font-thunder-bold-lc-italic {
    font-family: 'Thunder-BoldLCItalic';
  }
  
  /* Extra Bold Variants */
  .font-thunder-extra-bold-hc {
    font-family: 'Thunder-ExtraBoldHC';
  }
  .font-thunder-extra-bold-hc-italic {
    font-family: 'Thunder-ExtraBoldHCItalic';
  }
  .font-thunder-extra-bold-lc {
    font-family: 'Thunder-ExtraBoldLC';
  }
  .font-thunder-extra-bold-lc-italic {
    font-family: 'Thunder-ExtraBoldLCItalic';
  }
  
  /* Extra Light Variants */
  .font-thunder-extra-light-hc {
    font-family: 'Thunder-ExtraLightHC';
  }
  .font-thunder-extra-light-hc-italic {
    font-family: 'Thunder-ExtraLightHCItalic';
  }
  .font-thunder-extra-light-lc {
    font-family: 'Thunder-ExtraLightLC';
  }
  .font-thunder-extra-light-lc-italic {
    font-family: 'Thunder-ExtraLightLCItalic';
  }
  
  /* Medium Variants */
  .font-thunder-medium-hc {
    font-family: 'Thunder-MediumHC';
  }
  .font-thunder-medium-hc-italic {
    font-family: 'Thunder-MediumHCItalic';
  }
  .font-thunder-medium-lc {
    font-family: 'Thunder-MediumLC';
  }
  .font-thunder-medium-lc-italic {
    font-family: 'Thunder-MediumLCItalic';
  }
  
  /* Light Variants */
  .font-thunder-light-hc {
    font-family: 'Thunder-LightHC';
  }
  .font-thunder-light-hc-italic {
    font-family: 'Thunder-LightHCItalic';
  }
  .font-thunder-light-lc {
    font-family: 'Thunder-LightLC';
  }
  .font-thunder-light-lc-italic {
    font-family: 'Thunder-LightLCItalic';
  }
  
  /* Semi Bold Variants */
  .font-thunder-semi-bold-hc {
    font-family: 'Thunder-SemiBoldHC';
  }
  .font-thunder-semi-bold-hc-italic {
    font-family: 'Thunder-SemiBoldHCItalic';
  }
  .font-thunder-semi-bold-lc {
    font-family: 'Thunder-SemiBoldLC';
  }
  .font-thunder-semi-bold-lc-italic {
    font-family: 'Thunder-SemiBoldLCItalic';
  }
  
  /* Thin Variants */
  .font-thunder-thin-hc {
    font-family: 'Thunder-ThinHC';
  }
  .font-thunder-thin-hc-italic {
    font-family: 'Thunder-ThinHCItalic';
  }
  .font-thunder-thin-lc {
    font-family: 'Thunder-ThinLC';
  }
  .font-thunder-thin-lc-italic {
    font-family: 'Thunder-ThinLCItalic';
  }
  
  /* Regular (HC/LC) */
  .font-thunder-hc {
    font-family: 'Thunder-HC';
  }
  .font-thunder-hc-italic {
    font-family: 'Thunder-HCItalic';
  }
  .font-thunder-lc {
    font-family: 'Thunder-LC';
  }
  .font-thunder-lc-italic {
    font-family: 'Thunder-LCItalic';
  }
  



/* Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

.montserrat-regular {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* Caveat */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

.caveat-fourHun {
  font-family: "Caveat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.caveat-fiveHun {
  font-family: "Caveat", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.caveat-sixHun {
  font-family: "Caveat", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.caveat-sevenHun {
  font-family: "Caveat", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

